<div class="fixed top-0 bg-purple-50 h-screen w-full z-50 flex justify-center items-center">
  <div>
    <div class="text-5xl font-extrabold ">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500">
        ¡GRACIAS POR USAR NUESTRA APP!
      </span>
    </div>
    <div>
      <span class="text-green-500 text-2xl mr-4 "> Descarga tu caja de flujo</span>

      <button-m nombre="PDF" tipo="momento" ></button-m>
    </div>

    <div>
      <button-m nombre="Nuevo Flujo" tipo="momento" (click)="nuevoFlujo()"></button-m>

    </div>
  </div>
</div>
