
<label class="tracking-wider font-semibold text-lg my-2"> {{label}}:
  <input [type]="type" class="focus:outline-none rounded shadow p-2 border-2 border-green-500 w-full focus:border-indigo-500 font-normal my-2"
  *ngIf="type == 'select'? false : true" [formControl]="this.formControl">

  <select class="focus:outline-none rounded shadow p-2 border-2 border-green-500 w-full focus:border-indigo-500 font-normal my-2" [formControl]="this.formControl" *ngIf=" type == 'select' ? true : false">
    <option [value]="a" *ngFor="let a of dataSelect"> {{ a }} </option> <!--    [2001,2002,2003]-->
  </select>


</label>
